
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

    <h1> Login </h1>

    <% if(message == "error") { %>
      <p style="color: red;"> User doesn't exist or invalid password </p>
    <% } %>
    
    <form method="post" action="/session/connect/local">
    
      Email: <input type="email" name="email" id="email" required>
      <br />
      Password: <input type="password" name="password" id="password" required>
      
      <button type="submit"> Login </button>
    </form>

  
</body>
</html>
